/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px; /* по умолчанию */
}
/* ------------------------------ */


body {
	line-height: 1;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	padding: 50px;
}

.header {
background-color: rgba(110, 108, 105, 0.293);
position: fixed;
width: 100%;
top: 0px;
left: 0px;
z-index: 3;
 text-align: center;
}

li{
    display: inline-block;
    padding:10px 20px 10px 20px;
}
.menu{
    color: black;
    font-size: 20px;
    font-weight: 800;
}


.item{
    background-color: antiquewhite;
    margin: 50px 0px 0px 0px;
}

.items__block{
    
    font-size:25px;
    color:black;
    text-align: center;
    padding:17px;
    display:block;
   position: relative;
  
}

.item__block-1{
background-color: chartreuse;
}

.item__block-2 {
    background-color: crimson;
}
.item__block-3 {
    background-color: darkgoldenrod;

}

.image-1{
display:inline-block;
position: relative;
top: -50px;
}

.image-2{
display:inline-block;
position: relative;
left:-20%;

}

.image-3{
display:inline-block;
position: relative;
right:-20%;
}

.image-4{
display:inline-block;
position: relative;
bottom: -50px;
}


img{
    width:350px;
    height: 220px;
}
/*---------------------------------------------------------------------*/



.boarding__block {
margin: 120px 0px 0px 0px;
background:url("../img/duotone.png")no-repeat;
max-width: 1440px;
height:800px;
position: relative;
}
.boaring__title {
font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 56px;
line-height: 56px;
color: #FFFFFF;
position: absolute;
width: 583px;
height: 112px;
left: 210px;
top: 280px;
}


.button__block{
background-color: #F2726F;
display: inline-block;
position: absolute;
top: 60%;
left:18%;
border-radius:5px;

}
.button{
padding: 20px 30px 20px 30px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 24px;
align-items: center;
text-align: center;
letter-spacing: 0.15px;
text-transform: uppercase;
color: #FFFFFF;
display: inline-block;
}

.nemo-enim {
    background: #5D62B5;
   max-width:1020px;
    margin:0 auto;
    height:700px;  
padding: 20% 0px 0px 0px;
border-radius: 40px;
position:relative;
top:-70px;

}


.background__top{
    position: absolute;
    width: 201px;
    height:317px;
    top: -17%;
    right: -10px;
    
} 

.background__bottom{
     background:url("../img/ico/Blob2.svg") 15px 57% no-repeat;
width:846px;
height: 420px;

}

.image-6{
width:846px;
height: 420px;
position: relative;
top: 10%;
left: 10%;
}

.enim__title {
   background:url("../img/Overline.png")no-repeat;
   padding: 0px 0px 0px 40px;
position: absolute;
left: 12%;
right: 0%;
top:10%;
bottom: 0%;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 24px;
align-items: center;
letter-spacing: 2.5px;
text-transform: uppercase;
color: #F5F5F5;
}

.text__enim {
position: absolute;
width:583px;
left: 12%;
right: 0%;
top:17%;
bottom: 0%;
font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 42px;
color: #FFFFFF;
display: inline-block;

}
.content__block {
    width: 846px;
    max-height:76px;
 padding: 0px 0px 0px 12%;   
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.15px;
color: #FFFFFF;
display: inline-block;

}